<% Object.keys(users).forEach(function(id) { -%>
<div class="panel panel-default tab-pane" id="<%= id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= users[id].name %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h4>Authentication Providers</h4>
        <div class="list-group">
          <% Object.keys(users[id].providers).forEach(function(pname) { -%>
          <div class="list-group-item"><%= pname %></div>
          <% }) -%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Authorizations</h4>
        <div class="list-group">
          <% users[id].authorizations.forEach(function(authId) { -%>
            <% if (!authorizations[authId]) return -%>
            <div class="list-group-item">
              <span><%= authorizations[authId].name %></span>
              <a class="pull-right authorization-remove" href="#" data-user="<%= id %>" data-auth="<%= authId %>"><i class="fa fa-times"></i></a>
            </div>
          <% }) -%>
        </div>
        <h5>Add Authorizations</h5>
        <div class="list-group" id="authorization-results-<%= id %>">
          <% Object.keys(authorizations).forEach(function(authId) { -%>
            <% if (users[id].authorizations.indexOf(authId) > -1) return -%>
            <div class="list-group-item" data>
              <span><%= authorizations[authId].name %></span>
              <a class="pull-right authorization-add" href="#" data-user="<%= id %>" data-auth="<%= authId %>"><i class="fa fa-plus"></i></a>
            </div>
          <% }) -%>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) -%>
